*{
	box-sizing: border-box;
}

body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}
html, body{
	overflow-x: hidden !important;
	margin-bottom: 0 !important;
}


.site{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.site-main{
	max-width: 1200px;
	margin-top: $size__margin-top-section;
}

.body-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media only screen and (min-width: $breakpoint__desktop-navbar) {

	.body-container{
		flex-direction: row;
		align-items: flex-start;
	}

}