.site-header{
  width: 100%;
}

.header-container{
  position: relative;
}

.header-desktop{
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 600px;
  height: 100%;
  overflow: hidden;
  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.header-mobile, .header-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 600px;
  height: 100%;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: $size__navbar-top;
  }
}



@media only screen and (min-width: $breakpoint__desktop-navbar) {
  .header-desktop{
    display: flex;
  }

  .header-mobile{
    display: none;
  }

}




#breadcrumbs{
  display: none;
}

@media only screen and (min-width: 768px) {

  .header-container:after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: linear-gradient(0deg,
            rgba($color__dark-grey,.5) 0%,
            rgba($color__dark-grey,0.05) 30%,
            rgba(0,0,0, 0) 100%);
  }

  #breadcrumbs{
    display: block;
    list-style:none;
    margin:10px 0 20px 8px;
    overflow:hidden;
    padding: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    color: white;
    font-weight: 500;
    z-index: 1;
    a{
      color: white;
      &:hover{
        text-decoration: underline;
      }
    }
    li {
     display: inline-block;
     vertical-align: middle;
     margin-right: 8px;
    }
    .separator {
      font-size: 18px;
      font-weight: 100;
    }
    .item-current{
    }
  }
}

//-------------------------------------------

