.widget-area{
	max-width: 1200px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	.widget-title{
		width: 100%;
		text-align: center;
		color: white;
		padding: 15px;
		h1{
			font-size: 24px !important;
			text-transform: uppercase;
		}
	}

	.widget-last-posts{
		.widget-title{
			background-color: $color__yellow;
		}
	}

	.widget-contact{
		.widget-title{
			background-color: $color__light-red;
		}
	}

	.widget-document{
		.widget-title{
			background-color: $color__bluish-green;
		}
	}

	.widget-info{
		.widget-title{
			background-color: $color__dark-red;
		}
	}

	.widget-last-posts,
	.widget-contact,
	.widget-document,
	.widget-info{
		width: 300px;
		color: white;
		background-color: $color__dark-grey;
		margin: 25px;
		h1, h2, h3, h4, h5, h6{
			font-size: 18px;
			font-weight: 600;
		}
	}

	.widget-body{
		padding: 25px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		a{
			color: white;
			font-weight: 500;
		}
	}
}