$size__site-main: 100%;
$size__site-sidebar: 25%;

$size__navbar-mobile: 45px;
$size__navbar-desktop: 63px;
$size__navbar-top: 36px;
$size__margin-top-section: 50px;

$breakpoint__desktop-navbar: 1025px;
